<div *ngIf="olympic" class="container">
  <h2
    class="mb-5 bg-success text-center text-white p-2 col-md-4 mx-auto mt-4 border rounded"
  >
    {{ olympic.country }}
  </h2>

  <section>
    <div class="mb-4 mx-auto">
      <div class="row mx-2 text-center">
        <div class="py-2 col border rounded border-success border-2">
          <p class="fst-italic">Number of entries</p>
          <span>{{ olympic.participations.length }}</span>
        </div>

        <div class="py-2 col mx-2 col-4 border rounded border-success border-2">
          <p class="fst-italic">Total number medals</p>
          <span>{{ numberOfMedal }}</span>
        </div>
        <div class="py-2 col border rounded border-success border-2">
          <p class="fst-italic">Total number of athletes</p>
          <span>{{ numberOfAthlete }}</span>
        </div>
      </div>
    </div>

    <ngx-charts-bar-vertical
      [results]="olympicFormatData"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-bar-vertical>
  </section>

  <div class="mb-5 container">
    <button class="btn btn-dark" (click)="goBack()">Go back</button>
  </div>
</div>

<div *ngIf="!olympic" class="container">
  <h4 class="text-center my-5">No corresponding information found</h4>

  <div class="mb-5 container">
    <button class="btn btn-dark" (click)="goBack()">Go back</button>
  </div>
</div>
