<div *ngIf="olympic" class="container">
  <h2
    class="mb-5 bg-success text-center text-white p-2 col-md-4 mx-auto mt-4 border rounded"
  >
    {{ olympic.country }}
  </h2>

  <section>
    <div class="mx-auto col-10 text-center">
      <div class="row mx-auto">
        <div class="py-2 col-3 border rounded border-success border-2">
          <p class="fst-italic">Number of entries</p>
          <span>{{ olympic.participations.length }}</span>
        </div>

        <div class="py-2 mx-2 col-4 border rounded border-success border-2">
          <p class="fst-italic">Total number medals</p>
          <span>{{ numberOfMedal }}</span>
        </div>
        <div class="py-2 col-3 border rounded border-success border-2">
          <p class="fst-italic">Total number of athletes</p>
          <span>{{ numberOfAthlete }}</span>
        </div>
      </div>
    </div>

    <div class="container">
      <ngx-charts-bar-vertical
        [results]="olympicFormatData"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
      >
      </ngx-charts-bar-vertical>
    </div>
  </section>
</div>
<h4 *ngIf="!olympic" class="center">Aucune Données à afficher !</h4>
